<%= render 'header' %>

<div>
  <h1>The answer to Life, the Universe and Everything?</h1>
  <h3>Read Douglas Adams's books (forget about Dr Who, he is a jerk!)</h3>
  <br />
  <br />
  <p><%= link_to 'Want to know the answer?', secrets_path %></p>
</div>
